//
   Created by pc on 2015/11/24.
//文件上传功能
extends layout

block content
    link(rel='stylesheet', href='/stylesheets/upload.css')
    #post-container.container
        .page-containerF
            h1#demo Step1
            p 您可以尝试文件拖拽，使用QQ截屏工具，然后激活窗口后粘贴，或者点击添加图片按钮，来体验此demo.
            form(method='post', action='/file/uploading', enctype='multipart/form-data')
                input(name='inputFile',type='file', multiple='mutiple')
                button.btn.btn-success(type='submit') 开始上传