extends layout
block content
    script(type='text/javascript',src='/js/lbs.js')
    link(rel='stylesheet', href='//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css')
    script(src='//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js')
    script(src='//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js')

    div.container-fluid
        nav.navbar.navbar-inverse.navbar-fixed-top.navbar-right(id='mynavbar')
            div.navbar-header
                a.navbar-brand 北斗分理级服务平台
            collapse.navbar-collapse(id='navbar')
                ul.nav.navbar-nav.navbar-right
                    li
                        a(data-toggle="modal" data-target="#login") 登陆
                    li
                        a(data-toggle="modal" data-target="#reg") 注册

    #login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                        | ×
                    h4#myModalLabel.modal-title
                        | 模态框（Modal）标题
                .modal-body
                    | 在这里添加一些文本
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal')
                        | 关闭
                    button.btn.btn-primary(type='button')
                        | 提交更改


    div(id='shensuo')
    div.left(id='left')
        #accordion
            h3 北斗民用服务平台简介
            div
                p
                    | 北斗民用服务平台（以下简称“平台”）是通过开发相应的软件功能模块，配合相关的设备和数据信道，利用北斗卫星定位系
                    | 统、互联网、移动通信网络等资源，融合多项信息处理技术，自主构建的能为不同用户提供基于位置的信息共享、北斗短报
                    | 文信息转发、数据传送、远程测控以及各类信息增值服务的运营系统。平台的IT系统按照“结构化设计”方案搭建，并配置了
                    | 专业的安全防护软件，具备7×24小时的对外服务能力。
                    | 平台由北斗运营服务平台、北斗行业应用平台、开放平台三部分构成，不仅能确保基础运营服务的稳定可用，数据存储传输
                    | 的安全可靠；还具备数据传输及通讯的中转服务功能，实现北斗与其他通讯系统的互联互通，并提供多种增值服务订阅及个
                    | 性化功能定制服务；更为重要的是用户可直接使用现成的行业应用系统，并利用开放的编程接口进行二次开发，从而减少投
                    | 入，节约成本，缩短开发时间，快速搭建满足自身需求的专属服务系统。
            h3 部分 2
            div
                p
                    | Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                    | purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                    | velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                    | suscipit faucibus urna.
            h3 部分 3
            div
                p
                    | Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                    | Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                    | ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                    | lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                ul
                    li List item one
                    li List item two
                    li List item three
            h3 部分 4
            div
                p
                    | Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                    | et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                    | faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                    | mauris vel est.
                p
                    | Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                    | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    | inceptos himenaeos.
        script.
            $(function () {
                $("#accordion").accordion();
            });
    div.right(id = 'right')
        div(id = 'allmap')
