<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!--引用bootstrap.js的时候需要先引入jquery。-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=1hZ5gqOxBT8B5clwusZqwsO5"></script>
  </head>
  <body>
    <script type="text/javascript" src="/js/lbs.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <!-- Brand and toggle get grouped for better mobile display-->
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">河南北斗分理服务平台</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#myModal">登陆</a></li>
          <li><a href="#">登陆</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse-->
    </nav>
    <!-- 模态框（Modal）-->
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div id="loginContainer" class="container">
              <div class="row">
                <div class="col-xs-4">
                  <div class="panel panel-info">
                    <div class="panel-heading">登陆</div>
                    <div class="panel-body">
                      <form method="post" class="form-signin">
                        <h2 class="form-signin-heading">
                          <label for="useremail" class="sr-only">Email address</label>
                          <input id="useremail" type="email" name="useremail" placeholder="Email address" required="" autofocus="" class="form-control">
                          <label for="userpassword" class="sr-only">Password</label>
                          <input id="userpassword" type="password" name="userpassword" placeholder="Password" required="" class="form-control">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="remember-pswd">记住密码
                            </label>
                            <label class="pull-right">
                              <input type="checkbox" value="auto-login">自动登陆
                            </label>
                          </div>
                          <button type="submit" class="btn btn-primary btn-block">登陆</button>
                        </h2>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="shensuo"></div>
    <div id="left" class="left">
      <div id="accordion">
        <h3>北斗民用服务平台简介</h3>
        <div>
          <p>
            北斗民用服务平台（以下简称“平台”）是通过开发相应的软件功能模块，配合相关的设备和数据信道，利用北斗卫星定位系
            统、互联网、移动通信网络等资源，融合多项信息处理技术，自主构建的能为不同用户提供基于位置的信息共享、北斗短报
            文信息转发、数据传送、远程测控以及各类信息增值服务的运营系统。平台的IT系统按照“结构化设计”方案搭建，并配置了
            专业的安全防护软件，具备7×24小时的对外服务能力。
            平台由北斗运营服务平台、北斗行业应用平台、开放平台三部分构成，不仅能确保基础运营服务的稳定可用，数据存储传输
            的安全可靠；还具备数据传输及通讯的中转服务功能，实现北斗与其他通讯系统的互联互通，并提供多种增值服务订阅及个
            性化功能定制服务；更为重要的是用户可直接使用现成的行业应用系统，并利用开放的编程接口进行二次开发，从而减少投
            入，节约成本，缩短开发时间，快速搭建满足自身需求的专属服务系统。
          </p>
        </div>
        <h3>部分 2</h3>
        <div>
          <p>
            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
            suscipit faucibus urna.
          </p>
        </div>
        <h3>部分 3</h3>
        <div>
          <p>
            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
          </p>
          <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
          </ul>
        </div>
        <h3>部分 4</h3>
        <div>
          <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
          </p>
          <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
      </div>
      <script>
        $(function () {
            $("#accordion").accordion();
        });
      </script>
    </div>
    <div id="right" class="right">
      <div id="allmap"></div>
    </div>
  </body>
</html>