extends layout
block content
    script(type='text/javascript',src='/js/lbs.js')
    div.container-fluid
        nav.navbar.navbar-inverse.navbar-fixed-top(id='mynavbar')
            div.navbar-header
                a.navbar-brand 河南北斗分理级服务平台
    div(id='shensuo')
    div.left(id='left')
    div.right(id='right')
        div(id='allmap')
