<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=1hZ5gqOxBT8B5clwusZqwsO5"></script>
  </head>
  <body>
    <script type="text/javascript" src="/js/lbs.js"></script>
    <div class="container-fluid">
      <nav id="mynavbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header"><a class="navbar-brand">河南北斗分理级服务平台</a></div>
      </nav>
    </div>
    <div id="shensuo"></div>
    <div class="left"></div>
    <div class="right">
      <div id="allmap"></div>
    </div>
  </body>
</html>