//
   Created by He on 2015/11/13.

extends layout

block content
   script(type='text/javascript',src='/js/bootstrap.min.js')
   div.container
      div.col-md-11.col-md-offset-1
         #myCarousel.carousel.slide
            ol.carousel-indicators
               li.active(data-target='#myCarousel', data-slide-to='0')
               li(data-target='#myCarousel', data-slide-to='1')
               li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
               .item.active
                  img(src='/images/bootstrap-mdo-sfmoma-01.jpg', alt='First slide')
               .item
                  img(src='/images/bootstrap-mdo-sfmoma-02.jpg', alt='Second slide')
               .item
                  img(src='/images/bootstrap-mdo-sfmoma-03.jpg', alt='Third slide')
            // 轮播（Carousel）导航
            a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
            a.carousel-control.right(href='#myCarousel', data-slide='next') ›


         div.row(style='padding-top:10px')
            div.col-xs-8
               div.panel.panel-info(id="tongzhi")
                  div.panel-heading 通知
                  div.panel-body
                     ol
                        each val in data
                           li
                              a(href="#")=val.content
                              small.pull-right=val.time
            div.row
               div.col-xs-4
                  div.panel.panel-info
                     div.panel-heading 登陆
                     div.panel-body
                        form.form-signin(method='post')
                           h2.form-signin-heading
                              label.sr-only(for='useremail') Email address
                              input#useremail.form-control(type='email',name='useremail',placeholder='Email address', required='', autofocus='')
                              label.sr-only(for='userpassword') Password
                              input#userpassword.form-control(type='password',name='userpassword',placeholder='Password', required='')
                              .checkbox
                                 label
                                    input(type='checkbox', value='remember-pswd')
                                    | 记住密码
                                 label.pull-right
                                    input(type='checkbox', value='auto-login')
                                    | 自动登陆
                              button.btn.btn-primary.btn-block(type='submit') 登陆



