body {
    font: 16px "Î¢ÈíÑÅºÚ", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body, html, #allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "Î¢ÈíÑÅºÚ";
}

#tongzhi, #login {
    padding-bottom: 20px;
}

.checkbox {
    font: 16px "Î¢ÈíÑÅºÚ";
}
